.card {
    margin: 10px;
    background-color: #323639;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.row {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    display: flex;
    flex-flow: column;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.center {
    justify-content: center;
}

.horizontal-center {
    align-items: center;
}

.input-text {
    padding: 10px;
    color: white;
    font-weight: bold;
}

.input {
    background-color: #202124;
    color: white;
    border: 0px;
    padding: 5px;
    border-radius: 10px;
    font-size: medium;
}

.header {
    color: white;
    padding: 20px;
    margin: 0px;
}

.headerPrim {
    color: white;
    padding: 20px;
    margin: 0px;
    background-color: #4688F4;
}

.selectButton {
    color: white;
    padding: 20px;
    border: 0px;
    background-color: transparent;
}

.playButton{
    padding: 10px !important;
}

.text-button {
    margin: 5px;
}

.selectButtonSelected{
    color: white;
    padding: 20px;
    border: 0px;
    background-color: #4688F4;
}


.selectButton:hover {
    background-color: #202124;
}

.selectButtonSelected:hover{
    background-color: #3D6EC9;
}

.dltButton {
    margin: 10px;
    width: 200px;
    color: #E64A39;
    padding: 10px;
    border: 0px;
    border-radius: 20px;
    background-color: #202124;
}

.dltButton:disabled {
    color: #e64a394f;
    background-color: #949494;
}

