.selectButton {
    color: white;
    padding: 20px;
    border: 0px;
    background-color: transparent;
}

.selectButton:hover {
    background-color: #202124;
}

.selectButton:disabled {
    background-color: #949494;
}

.selectButton:disabled:hover {
    background-color: #949494;
}

.selectButtonSelected{
    color: white;
    padding: 20px;
    border: 0px;
    background-color: #4688F4;
}

.selectButtonSelected:hover{
    background-color: #3D6EC9;
}

.selectButtonSelected:disabled {
    background-color: #94bdff;
}

.selectButtonSelected:disabled:hover {
    background-color: #94bdff;
}

.playButton{
    padding: 10px !important;
}

.dltButton {
    margin: 10px;
    width: 200px;
    color: #E64A39;
    padding: 10px;
    border: 0px;
    border-radius: 20px;
    background-color: #202124;
}

.dltButton:disabled {
    color: #e64a394f;
    background-color: #949494;
}

.text-button {
    margin: 5px;
}