.margin-10 {
    margin: 10px;
}

.margin-bottom{
    margin-bottom: 10px;
}

.margin-top{
    margin-top: 10px !important;
}

.myCard {
    background-color: var(--bs-secondary) !important;
    color: var(--bs-white);
    width: fit-content;
    margin-bottom: 10px;
}

.myCard-prim {
    background-color: var(--bs-dark) !important;
}

.myModal .modal-content{
    background-color: var(--bs-dark);
    color: var(--bs-white);
}