.card {
    margin: 20px;
    background-color: #323639;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    width: fit-content;
}

.row {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    display: flex;
    flex-flow: column;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.center {
    justify-content: center;
}

.horizontal-center {
    align-items: center;
}

.input-text {
    padding: 10px;
    color: white;
    font-weight: bold;
}

.input {
    background-color: #202124;
    color: white;
    border: 0px;
    padding: 5px;
    border-radius: 10px;
    font-size: medium;
}

.header {
    color: white;
    padding: 20px;
    margin: 0px;
}

.headerPrim {
    color: white;
    padding: 20px;
    margin: 0px;
    background-color: #4688F4;
}

.play {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.side {
    width: 10%;
}

.right-side {
    width: 20%;
}

.right {
    float: right;
}


.main {
    width: 100%;
    justify-content: space-between;
}